---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Tag from "@components/Tag.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostsWithRT from "@utils/getPostsWithRT";
import getUniqueTags from "@utils/getUniqueTags";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
const posts = await getPostsWithRT(blogPosts); // replace reading time logic with this func

let tags = getUniqueTags(posts);

---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
